/* Header fixo e transparente */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent; /* completamente transparente */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around; /* Espaçamento uniforme entre os itens */
    padding: 25px 40px;
    z-index: 1000;
    backdrop-filter: blur(15px)
}

/* Logo no header */
.logo {
    position: relative;
    left: -40px;
    font-size: 2.8rem;
    font-weight:900;
    text-align: center;
    font-family: roboto;
}

/* Menu de navegação */
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {

    font-size: 28px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Botão no header */
.header-button {
    background-color: #e3e3e3;
    color: rgb(0, 0, 0);
    border: none;
    padding: 20px 40px; /* Botão menor */
    cursor: pointer;
    border-radius: 30px; /* Formato arredondado */
    font-size: 20px; /* Tamanho da fonte reduzido */
    transition: background-color 0.3s;
}
.header-buttons {
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
}

.header-button:hover {
    background-color: #777;
}

/* Primeira seção com imagem de fundo e o header por cima */
.box-1 {
    background-image: url('snapedit_1749477231509.png');
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('snapedit_1749477231509.png');
    background-size: cover;
    height: 89vh; /* Ocupa 100% da altura da tela */
    width: 100%;
    display: flex;
    flex-direction: column; /* Alinha os filhos (h1 e p) em coluna */
    align-items: center; /* Centraliza os filhos horizontalmente */
    justify-content: center; /* Centraliza os filhos verticalmente */
    padding-top: 100px; /* Para o conteúdo não ficar atrás do header */
    color: white; /* Define a cor do texto */

}
.navegaçao{
    position: relative;
    left: -40px;
    padding: 20px;
    width: 100%px;
    border-radius: 80px;
    background-color: rgb(247, 247, 247);
}

.box-1 h1, .box-1 p {
    margin: 10px 0; 
    position: relative;
    top: 410px;
    right: 20%;
    font-size: 70px;
    font-family:roboto ;
    text-shadow: 0px 10px 20px white;
}
.box-1 p{
    max-width: 1000px;
    text-align: center;
    color: white;
}
.box-1 h1{
    font-size: 80px;
}
.box-1 button{
    position: relative;
    top: 470px;
    right: 20%;
    padding: 30px 100px;
    border-radius: 50px;
    border: none;
    transition:  0.2s ease-in-out;
    font-size: 28px;
    background: linear-gradient(45deg, rgb(112, 167, 255),white);
}
.box-1 button:hover{
    transform: scale(1.10);
    cursor: pointer;
}
.imagem{
    position: relative;
    top: -206px;
    right: -350px;
}
.imagem img{
    object-fit: cover;
    height: auto;
    width: 1400px;
}
button:hover{
    transform: scale(1.10);
}
button{
    transition: 2s ease;
}
